{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MAKHZNK{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus'></i>
          <span class="logo_name">AG</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="{% url 'index' %}">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">View All Listing</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">View All Listing</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li>
              <a href="{% url 'admin_dashboard' %}">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="link_name">Admin Dashboard</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
              </ul>
            </li>
            {% endif %}
            {% if user.user_type == 2 %}
            <li>
              <div class="iocn-link">
                <a href="{% url 'manage_my_listings' %}">
                  <i class='bx bx-book-alt' ></i>
                  <span class="link_name">My Listening</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">My Listening</a></li>
                <li><a href="{% url 'add_item' %}">Add Listings</a></li>
                <li><a href="{% url 'manage_my_listings' %}">Edit Listings</a></li>
                <li><a href="{% url 'manage_my_listings' %}">Delete Listings</a></li>
              </ul>
            </li>
            {% endif %}
            <li>
              <div class="profile-details">
              <div class="profile-content">
                  <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              <div class="name-job">
                <div class="profile_name">
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% endif %}
                </div>
              </div>
                <a href="{% url 'logout' %}">
                  <i class='bx bx-log-out'></i> 
                </a>
              </div>
            </li>
            <li>
              <a id="toggleNightMode" href="">

              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="">Night Mode</a></li>
              </ul>
            </li>
            {% else %}
            <li>
              <a href="#">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="link_name">Analytics</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Analytics</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-line-chart' ></i>
                <span class="link_name">Chart</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Chart</a></li>
              </ul>
            </li>
            <li>
              <div class="iocn-link">
                <a href="#">
                  <i class='bx bx-plug' ></i>
                  <span class="link_name">Plugins</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Plugins</a></li>
                <li><a href="#">UI Face</a></li>
                <li><a href="#">Pigments</a></li>
                <li><a href="#">Box Icons</a></li>
              </ul>
            </li>
            <li>
              <a id="toggleNightMode" href="">

              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="">Night Mode</a></li>
              </ul>
            </li>
            <li>
              <div class="profile-details">
              <div class="profile-content">
                  <!--<img src="image/profile.jpg" alt="profileImg">-->
              </div>
              <a href="{% url 'login' %}">
                <div class="name-job">
                  <div class="profile_name">
                    Login
                  </div>
                </div>
                <i class='bx bx-log-in'></i> 
                </a>
              </div>
            </li>
          {% endif %}
        </ul>
    </div>
    {% block body %}
    {% endblock %}
    <!-- Include jQuery and Bootstrap JS for Carousel and other interactive components -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlYQfnxU5+s6q+XV+3sMBaT4QOv3F4AaSEt/ueO6l7zpaXCtT04W+kwStS3" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        const toggleNightMode = document.getElementById('toggleNightMode');

        function setNightMode(isNightMode) {
          if (isNightMode) {
              document.body.classList.add('night-mode');
              // Modify a segment of HTML within a specific tag
              document.getElementById('toggleNightMode').innerHTML = '<i class="bx bx-sun"></i><span class="link_name">Light Mode</span>';
          } else {
              document.body.classList.remove('night-mode');
              // Modify a segment of HTML within a specific tag
              document.getElementById('toggleNightMode').innerHTML = '<i class="bx bx-moon"></i><span class="link_name">Night Mode</span>';
          }
          localStorage.setItem('theme', isNightMode ? 'dark' : 'light');
        }

        toggleNightMode.addEventListener('click', function() {
            const isNight = document.body.classList.contains('night-mode');
            setNightMode(!isNight);
        });

        // Initialize theme on load
        document.addEventListener('DOMContentLoaded', function() {
            const currentTheme = localStorage.getItem('theme');
            setNightMode(currentTheme === 'dark');
        });
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>


